*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

/* By default 1rem = 16px */

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/gradient-bg.jpg);
    display: grid;
    place-items: center;

}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15); /* white color with less opacity */
    border:  1px solid rgba(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 0.5rem 3rem;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    padding: 2rem;
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.25);
    aspect-ratio: 1/1;
    display: grid;
    border-radius: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.New-game-btn{
    position: absolute;
     /* this makes inner tic tac toe grid to come at center */
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    display: none;
}

.box{
    position: relative;
    width: 100%;
    display: flex;
    color: white;
    aspect-ratio: 1/1;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box1 ,.box2 ,.box4 ,.box5 {
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.box3 ,.box6 {
    border-bottom:2px solid white;
}

.box7 ,.box8 {
    border-right:2px solid white;
}

/* below .New-game-btn.active indicates that if both New-game-btn and active class both are present then apply below properties*/
.New-game-btn.active{
    display: flex;
}

.win{
    background-color: rgba(0,255,0,0.3);
}